{% extends 'bast.html' %}
{% load static %}
{% block content %}
    <h1 class="bg-danger text-success">Welcome to Third Page</h1>
    <h2>My Song</h2>
    <table class="table table-warning">
        <tr>
            <td><img src="{% static 'images/321732040_1239530783442598_5937468290736081010_n.jpg' %}"
                     width="200px" height="200px"></td>
            <td><img src="{% static 'images/321732040_1239530783442598_5937468290736081010_n.jpg' %}"
                     width="200px" height="200px"></td>
            <td><img src="{% static 'images/321732040_1239530783442598_5937468290736081010_n.jpg' %}"
                     width="200px" height="200px"></td>
            <td><img src="{% static 'images/321732040_1239530783442598_5937468290736081010_n.jpg' %}"
                     width="200px" height="200px"></td>
        </tr>
    </table>


    <p class="bg-white text-danger text-center border-1">
        ทำไมยังเป็นฉันที่ต้องผิดหวัง <br>
        รักใครกี่ครั้งต้องปวดร้าว <br>
        กอดตัวเองทุกครั้ง เมื่ออากาศหนาว <br>
        ค่ำเย็นจนเช้าก็ยังเหงา <br><br>
        ถ้าหากฉันจะขอพรบ้างได้ไหม <br>
        ขอใครได้ไหมให้เขาอยู่ยาว <br>
        คนที่กอดฉันไว้เมื่ออากาศหนาว <br>
        คงจะมีใช่ไหม <br><br>
        ก็เมื่อฉันรักใครฉันต้องเป็นคนผิดหวัง <br>
        สุดท้ายเมื่อรักไปหัวใจต้องแตกทุกครั้ง <br>
        ทำไมต้องเป็นฉัน ผู้ถูกเลือกให้ผิดหวัง <br><br>
        อากาศหนาวทำให้หัวใจฉันกลับมาเหงาอีกครั้ง <br>
        ลมพัดเธอหายไปเหลือไว้แค่เพียงความหลัง <br>
        สุดท้ายก็เป็นฉัน ผู้ถูกเลือกให้ผิดหวัง <br>
        เหมือนเดิม <br><br>
        ในช่วงที่ความรักผลิบานอีกครั้ง <br>
        พระจันทร์และดอกไม้ดูเปลี่ยนไป <br>
        มองกลับมาที่ฉันยังไม่ไปไหน <br>
        ทุกคนจากไปไม่กลับมา <br><br>
        ถ้าหากฉันจะขอพรบ้างได้ไหม <br>
        ขอใครได้ไหมให้เขาอยู่ยาว <br>
        คนที่กอดฉันไว้เมื่ออากาศหนาว <br>
        จะเป็นเธอใช่ไหม <br><br>
        ก็เมื่อฉันรักใครฉันต้องเป็นคนผิดหวัง <br>
        สุดท้ายเมื่อรักไปหัวใจต้องแตกทุกครั้ง <br>
        ทำไมต้องเป็นฉันผู้ถูกเลือกให้ผิดหวัง <br><br>
        อากาศหนาวทำให้หัวใจฉันกลับมาเหงาอีกครั้ง <br>
        ลมพัดเธอหายไปเหลือไว้แค่เพียงความหลัง <br>
        สุดท้ายก็เป็นฉัน ผู้ถูกเลือกให้ผิดหวัง <br>
        เหมือนเดิม <br><br>
        สิ้นหน้าหนาว คงทำให้ใจฉันมีความหวังอีกครั้ง <br>
        ดอกไม้ข้างในหัวใจฉันไม่เฉาเหมือนวันนั้น <br>
        ขอให้ไม่เป็นฉัน ผู้ถูกเลือกให้ผิดหวัง <br>
        อีกเลย <br>
    </p> <br>

    <a href="{% url 'firstweb' %}" class="btn btn-sm btn-primary">Go To First Web</a>
    <a href="{% url 'secondpage' %}" class="btn btn-sm btn-success">Go To Second Page</a>
    <a href="/ " class="btn btn-sm btn-primary">Go To Home</a><br>
    <br><br><br>
{% endblock %}